*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: rgb(185, 185, 185);
}

.content{
    width: 100vw;
    height: 100vh;
    display: flex;
}

.logo + p{
    font-size: .8rem;
    color: rgba(255, 255, 255);
    bottom: 0px;
    right: 5px;
    position: absolute;
}

/*LEFT SIDE*/
.left{
   background-image: url(https://images.unsplash.com/photo-1553361371-9b22f78e8b1d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80);
   background-repeat: no-repeat;
   background-size: cover;
   width: 40vw;
   position:relative;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-grow: 1;
}

.logo{
    display: flex;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    color: white;
    gap: 10px;
    align-items: center;
    width: 100%;
}

.odin{
    height: 7vw;
}




/*RIGHT SIDE*/
.right{
    display: flex;
    width: 60vw;
    flex-direction: column;
    align-items: start;
    flex-grow: 2;
    background-color: black;
    justify-content: center;
    align-items: center;
}

.dummy-text{
    padding: 2vw;
    font-size: 1.2rem;
}

.dummy-text p{
    margin: 1em;
}

.input-section{
    background-color: rgb(31, 31, 31);
    display: flex;
    width: 60vw;
    flex-direction: column;
    text-align: center;
    padding-top: 4vh;
    padding-bottom: 5vh;
}

.input-section p{
    margin-bottom: 2vh;
    font-size: 1.5rem;

}

form{
    display: flex;
    width: 60vw;
    flex-flow: row wrap;
    gap: 3rem;
    font-size: 1rem;
    justify-content: center;
}

input{
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid white;
    font-size: .9rem;
    margin-top: 3px;
    background-color: rgb(31, 31, 31);
    width: 20vw;
}

label{
    display: flex;
    flex-direction: column;
}

.submit{
    display: flex;
    flex-direction: column;
    margin-top: 5vh;
}

button[type='submit'] {
    padding: 0.8rem 1.3rem;
    font-size: 1.3rem;
    background-color: rgb(80, 5, 34);
    border: none;
    border-radius: 10px;
    color: white;
    letter-spacing: -1px;
    margin-bottom: 1vh;
}

a{
    color: rgb(80, 5, 34);
}


/*Mobile */
@media screen and (max-width: 750px) {
    .content{
        flex-direction: column;
    }

    .right, .input-section{
        width: 100vw;
    }


    .left {
        width: 100vw;
        height: 20rem;
    }
}